<h1>Olá handlebars!</h1>
<p>Nome do usuário: {{user.name}} {{user.surname}}</p>
<p>Idade: {{user.age}}</p>
{{#if auth}}
  <p>
    Você está, <a href="/dashboard">clique aqui</a> autenticado
  </p>
{{/if }}